@use '@angular/material' as mat;
@use '../../../styling/header-and-footer-sizes' as sizes;

:host {
  height: 100%;
  display: block;
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-primary);
}

.mobile-bar {
  display: block;
  height: 100%;
}
.desktop-bar {
  display: none;
}

@media (min-width: sizes.$mobile-width-header-threshold) {
  .mobile-bar {
    display: none;
  }
  .desktop-bar {
    display: block;
    height: 100%;
  }
}
