@use '@angular/material' as mat;
@import "styling/suac-theme";
@import "styling/global-overrides";

@include mat.core();

:root {
  @include mat.all-component-themes($theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($ShutUpAndCharge-theme);

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
