@use '@angular/material' as mat;
@import 'styling/suac-theme';
@import 'styling/global/coloring';
@import 'styling/global/global-overrides';
@import 'styling/global/position-helpers';

@include mat.core();

:root {
  @include mat.all-component-themes($theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($ShutUpAndCharge-theme);

html, body {
  height: 100%;
}
body {
  margin: 0;
  font: mat.get-theme-typography($theme, body-large, font);
}

h1 {
  font: mat.get-theme-typography($theme, headline-large, font);
}
h2 {
  font: mat.get-theme-typography($theme, headline-medium, font);
}
h3 {
  font: mat.get-theme-typography($theme, headline-small, font);
}
