@use '@angular/material' as mat;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    //primary: mat.$chartreuse-palette,
    //primary: mat.$orange-palette,
    //primary: mat.$rose-palette,
  ),
  typography: (
    plain-family: 'Open Sans',
    brand-family: 'Ubuntu',
    bold-weight: 900,
    medium-weight: 600,
    regular-weight: 400,
  ),
  density: (
    scale: -1
  ),
));
