<h2>As you are admin, here is list of users within system:</h2>
<mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)"
           [matSortActive]="sort$.value.sortActive" [matSortDirection]="sort$.value.sortDirection">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let user">
      {{ user.id }}
      <button mat-icon-button class="ml-2" [cdkCopyToClipboard]="user.idKeycloak" matTooltip="Copy Keycloak ID">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="idKeycloak">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Keycloak ID</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.idKeycloak }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let user">{{ user.firstName }} {{ user.lastName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="verifiedForCharging">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Can Charge</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <mat-icon *ngIf="user.verifiedForCharging" class="color-verified">verified</mat-icon>
      <mat-icon *ngIf="!user.verifiedForCharging" class="color-not-verified">close</mat-icon>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>
