:host {
  display: block;
  overflow-y: hidden;
}

.status-button {
  margin-left: .5rem;
  color: #c00100 !important;
  &:hover {
    cursor: default !important;
  }
}
.is-free {
  color: #038b00 !important;
}
