@use '../../../styling/custom-colors' as colors;

:host {
  display: block;
  overflow-y: hidden;
}

.status-button {
  margin-left: .5rem;
  border: 0;
  &:hover {
    cursor: default !important;
  }
}

.idle {
  background-color: var(--success) !important;
  color: var(--on-success) !important;
}
.awaiting {
  background-color: var(--warn) !important;
  color: var(--on-warn) !important;
}
.occupied {
  background-color: var(--mat-sys-error-container) !important;
  color: var(--mat-sys-on-error-container) !important;
}
