<h2>Kutlíkova
  <button class="status-button mat-elevation-z2" disabled [class.is-free]="isFree" mat-stroked-button>
    <mat-icon>{{ isFree ? 'check_circle' : 'cancel' }}</mat-icon>
    {{ isFree ? 'Free' : 'Occupied' }}
  </button>
</h2>
<div *ngIf="isFree" class="mr-2">
  To start charging, please connect the cable first and then click on refresh button.
  <span>Only previously-verified users can initiate charging process.</span>
</div>
<div *ngIf="!isFree" class="mr-2">Station is occupied currently.</div>
<button mat-mini-fab (click)="refreshStatus()" class="ml-2 mb-3">
  <mat-icon>refresh</mat-icon>
</button>
