@use '../../../styling/custom-colors' as colors;

:host {
  display: block;
  overflow-y: hidden;
}

.status-button {
  background-color: var(--mat-sys-error-container) !important;
  color: var(--mat-sys-on-error-container) !important;
  margin-left: .5rem;
  border: 0;
  &:hover {
    cursor: default !important;
  }
}
.is-free {
  background-color: colors.$success-container !important;
  color: colors.$success-container-text !important;
}
