@use '@angular/material' as mat;
@use '../custom-colors' as colors;

.text-darker {
  color: var(--mat-sys-on-surface-variant) !important;
}
.text-light {
  color: var(--mat-sys-outline);
}
.text-very-light,
.text-pale {
  color: var(--mat-sys-outline-variant);
}

.color-accent {
  color: var(--mat-sys-primary);
}
.color-error {
  color: var(--mat-sys-error);
}

.snackbar-error {
  .mat-mdc-snackbar-surface {
    background-color: var(--mat-sys-error-container) !important;
    color: var(--mat-sys-on-error-container) !important;
    button {
      color: var(--mat-sys-on-error-container) !important;
    }
  }
}
.snackbar-success {
  .mat-mdc-snackbar-surface {
    background-color: var(--success) !important;
    color: var(--on-success) !important;
  }
}

.fill-icon {
  font-variation-settings: 'FILL' 1;
}

.pulse {
  animation: pulse 2s infinite;
}
.pulse-bigger {
  animation: pulse-bigger 3s infinite;
}

@keyframes pulse {
  0% {
    font-variation-settings: 'wght' 200;
  }
  50% {
    font-variation-settings: 'wght' 700;
  }
  100% {
    font-variation-settings: 'wght' 200;
  }
}

@keyframes pulse-bigger {
  0% {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 200;
  }
  50% {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0;
  }
  100% {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 200;
  }
}
