@use '@angular/material' as mat;
@import '../custom-colors';

.text-darker {
  color: var(--mat-sys-on-surface-variant) !important;
}
.text-light {
  color: var(--mat-sys-outline);
}
.text-very-light,
.text-pale {
  color: var(--mat-sys-outline-variant);
}

.color-accent {
  color: var(--mat-sys-primary);
}
.color-error {
  color: var(--mat-sys-error);
}

.snackbar-error {
  .mat-mdc-snackbar-surface {
    background-color: var(--mat-sys-error-container) !important;
    color: var(--mat-sys-on-error-container) !important;
    button {
      color: var(--mat-sys-on-error-container) !important;
    }
  }
}
.snackbar-success {
  .mat-mdc-snackbar-surface {
    background-color: $success-container !important;
    color: $success-container-text !important;
  }
}

.fill-icon {
  font-variation-settings: 'FILL' 1;
}
