<app-header id="header"></app-header>

<main>
  <div class="logo">
    <div class="text-inside-logo">
      <h1 class="title"><mat-icon class="title-icon fill-icon">ev_station</mat-icon>Shut Up And Charge</h1>
    </div>
  </div>
  <div id="main-content">

    <app-charging-status></app-charging-status>

    <p>You are not logged in. To continue, please, login</p>
    <button mat-flat-button (click)="login()"><mat-icon>login</mat-icon>Login</button>

  </div>
  <app-footer></app-footer>
</main>
