mat-toolbar {
  background-color: transparent;
  color: inherit;
  height: 100%;
  font-size: 1.25em;

  .main-logo-icon {
    font-size: 1.75em;
    height: 1em;
    width: 1em;
  }
}

.logout-icon-link {
  padding: 0 .5rem;
  min-width: 2.25rem;
  mat-icon {
    margin: 0;
  }
}
