<mat-toolbar class="header">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Shut Up and Charge</span>
  <span style="flex: 1 1 auto"></span>
  <mat-chip-set class="mr-2">
    <mat-chip>{{ user() }}</mat-chip>
    <mat-chip *ngFor="let role of roles()">{{ role }}</mat-chip>
  </mat-chip-set>
  <a mat-stroked-button href="/logout"><mat-icon>logout</mat-icon>Logout</a>
</mat-toolbar>


<main>
  <div id="main-content">
    <h1>Welcome {{ user() }}</h1>
    <app-charging-status></app-charging-status>

    <app-dashboard-charging-list></app-dashboard-charging-list>
  </div>

  <app-footer></app-footer>
</main>
