@use '@angular/material' as mat;
@import '../../../styling/header-and-footer-sizes';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#header {
  height: $height-header;
}

main {
  flex: 1;
  overflow: auto;
}

#main-content {
  min-height: calc(100% - $height-footer-mobile);
  padding: 0 1rem 1.5rem;
  box-sizing: border-box;

  max-width: $main-content-max-width;
  margin: auto;
}
@media screen and (min-width: $mobile-width-footer-threshold) {
  #main-content {
    min-height: calc(100% - $height-footer-desktop);
  }
}
@media screen and (min-width: $mobile-width-header-threshold) {
  #main-content {
    padding: 1rem 2rem;
  }
}
