@use '@angular/material' as mat;
@import '../../../styling/suac-theme';
@import '../../../styling/header-and-footer-sizes';

.header {
  height: $height-header;
  background-color: mat.get-theme-color($theme, primary-container);
  color: mat.get-theme-color($theme, on-primary-container);
}

main {
  height: calc(100vh - $height-header);
  overflow-y: auto;
}
#main-content {
  min-height: calc(100vh - $height-header - $height-footer-desktop);
  padding: 1rem 2rem;
  box-sizing: border-box;
}
@media screen and (max-width: $mobile-width-threshold) {
  #main-content {
    min-height: calc(100vh - $height-header - $height-footer-mobile);
  }
}
