@if (isLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else {
  <div class="fk-p"></div>
}

@if (total() !== 0) {
  <ng-content></ng-content>
  <div class="bottom-bar">
    @if (exportFn()) {
      <app-pending-button type="tonal" icon="download" label="Export" (onClick)="onExport()" [isLoading]="isExporting()">
      </app-pending-button>
    }
    <mat-paginator
      (page)="pageChanged($event)" [pageSizeOptions]="pageSizeOptions" [disabled]="isLoading()"
      [pageIndex]="pageIndex()" [pageSize]="pageSize()" [length]="total()">
    </mat-paginator>
  </div>
} @else {
  <div>Unfortunately, there is no data here yet to be shown</div>
}
