.fk-p {
  height: max(var(--mat-progress-bar-track-height, 4px), var(--mat-progress-bar-active-indicator-height, 4px));
}

.bottom-bar {
  display: flex;
  align-items: center;

  mat-paginator {
    margin-left: auto;
  }
}
