<mat-toolbar class="footer">
  <div class="row">
    <div class="columns">
      <a class="icon-text" href="https://github.com/piskula" target="_blank">
        <mat-icon class="mr-1">data_object</mat-icon>github/piskula
      </a>
    </div>
    <div class="columns">
      <div class="icon-text"><mat-icon class="mr-1">copyright</mat-icon>{{ year() }}</div>
    </div>
    <div class="columns">
      <span class="align-self-center icon-text">
        <a class="icon-text"><mat-icon class="material-icons-outlined">sell</mat-icon>{{ version() }}</a>
        <a>({{ versionTime() | date: 'yyyy-MM-dd\'T\'HH:mm' }})</a>
      </span>
    </div>
  </div>
</mat-toolbar>
