@use '@angular/material' as mat;
@use '../../../styling/header-and-footer-sizes' as sizes;

.footer {
  height: sizes.$height-footer-desktop;
  background-color: var(--mat-sys-surface-container-highest);
  color: var(--mat-sys-on-surface);
  font-size: .9em;
  white-space: unset;
}
@media screen and (max-width: sizes.$mobile-width-footer-threshold) {
  .footer {
    height: sizes.$height-footer-mobile;
  }
}

.icon-text {
  display: flex;
  align-items: center;
}



.row {
  width: 100%;
  min-height: sizes.$height-footer-desktop;
  text-align: center;

  :nth-child(2) {
    text-align: center;
    justify-content: center;
    .icon-text {
      justify-content: center;
      display: flex;
    }
  }
  :nth-child(3) {
    text-align: right;
    justify-content: flex-end;
    .icon-text {
      float: right;
    }
  }
}

.columns {
  width: 33.3%;
  min-width: 12rem;
  vertical-align: top; // Fix for different height elements
  display: inline-flex;
  line-height: 1.25rem;
  height: sizes.$height-footer-desktop;
}
@media screen and (max-width: sizes.$mobile-width-footer-threshold) {
  .columns {
    width: 100%;
    height: unset;
    display: inline-block;
  }
  .row > * {
    text-align: center !important;
    .icon-text {
      margin: 0 auto !important;
      display: inline-flex !important;
      float: unset !important;
    }
  }
}

mat-icon {
  font-size: 1.4em;
  height: 1em;
  width: 1em;
}
