<mat-toolbar class="footer">
  <div class="row">
    <div class="columns">
      <a class="icon-text" href="https://github.com/piskula" target="_blank"><mat-icon>data_object</mat-icon>github/piskula</a>
    </div>
    <div class="columns">
      <div class="icon-text"><mat-icon>copyright</mat-icon>{{ year() }}</div>
    </div>
    <div class="columns">
      <div class="icon-text"><mat-icon class="material-icons-outlined">sell</mat-icon>{{ version() }}</div>
    </div>
  </div>
</mat-toolbar>
