@use '@angular/material' as mat;

mat-toolbar {
  background-color: transparent;
  color: inherit;
  height: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;

  .main-logo-icon {
    font-size: 1.75em;
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 200, 'opsz' 48;
    height: 1em;
    width: 1em;
  }
}

.navigation-button {
  border-radius: 0;
  height: 100%;

  &.selected {
    color: var(--mat-sys-primary) !important;
    border-bottom: solid var(--mat-sys-primary);
    mat-icon {
      font-variation-settings: 'FILL' 1;
    }
  }

  mat-icon {
    font-size: 2em;
    width: 1em;
    height: 1em;
  }
}
